* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw; 
}

.container {
  width: 100vw;
  display: block;
  margin: auto auto;
}

.centercontent {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo{
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 0;
}

.active {
  color: #349682;
}

.img{
  margin-bottom: 15px;
}

.list{
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  margin-right:98px;
  color: #2c3444;
}

span {
  display: block;
  font-size: 22px;
  font-weight: 600;
}

.like {
  font-size: 40px;
  position: relative;
  top: -60px;
  left: 270px;
  width: 30px;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 15s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }